<?xml version="1.0" encoding="utf-8" ?>
<FileSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <sourceRootPath>C:\APP\TempDocumentary\</sourceRootPath>
    <destinationRootPath>C:\APP\Documentary\</destinationRootPath>
    <archiveRootPath>C:\APP\DocumentaryArchive\</archiveRootPath>
</FileSetting>