<?xml version="1.0"?>
<ArrayOfCountryDefaultSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!--First is default one-->
    <CountryDefaultSetting CountryCode=""   DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="DZ" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="BJ" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="BF" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="CM" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="CI" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="EG" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="ET" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="GA" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="GM" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="GH" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="MW" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="ML" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="MU" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="MA" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="NG" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="SN" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="ZA" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="SD" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="SZ" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="TN" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="ZM" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="AO" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="BW" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="BI" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="CV" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="CF" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="TD" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="KM" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="CG" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="DJ" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="GQ" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="ER" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="GN" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="GW" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="KE" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="LS" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="LR" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="MG" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="MR" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="YT" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="MZ" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="NA" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="NE" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="RE" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="RW" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="ST" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="SC" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="SL" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="SO" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="TG" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="UG" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="TZ" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="EH" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="ZW" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="AW" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="BS" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="BB" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="BZ" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="BO" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="BR" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="CL" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="CO" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="CR" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="DO" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="EC" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="SV" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="GF" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="GT" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="HN" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="JM" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="MX" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="AN" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="NI" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="PA" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="PY" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="PE" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="PR" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="TT" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="UY" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="VE" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="KY" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="CU" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="DM" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="FK" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="GD" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="GP" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="GY" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="HT" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="MQ" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="MS" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="KR" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="LC" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="VC" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="SR" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="TC" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="AR" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="AI" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="AG" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="PH" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="TR" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="GE" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="MO" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="BN" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="SG" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="AF" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="AM" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="AZ" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="BH" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="BD" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="BT" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="KH" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="IN" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="IR" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="IQ" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="IL" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="JP" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="JO" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="KZ" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="KP" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="KN" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="KW" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="LA" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="LB" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="MN" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="MM" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="NP" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="OM" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="PK" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="QA" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="SA" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="TJ" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="AE" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="UZ" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="YE" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="KG" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="MV" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="LK" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="TP" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="TM" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="TW" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="CY" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="HK" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="ID" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="MY" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="CN" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="TH" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="VN" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="AL" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="BY" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="BA" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="BG" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="HR" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="CZ" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="DK" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="EE" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="FO" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="GI" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="HU" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="IS" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="LV" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="LI" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="LT" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="MK" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="MD" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="MC" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="ME" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="NO" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="PL" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="RO" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="RU" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="SM" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="SE" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="UA" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="AD" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="CS" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="SJ" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="CH" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="NL" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="AT" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="BE" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="FI" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="FR" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="DE" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="GR" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="IE" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="IT" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="LU" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="MT" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="PT" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="SK" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="SI" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="ES" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="UK" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="YU" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="BM" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="CA" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="GL" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="PM" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="US" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="AS" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="AU" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="GU" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="NZ" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="PW" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="PN" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="VU" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="WF" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="CK" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="FJ" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="PF" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="KI" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="MH" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="FM" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="NR" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="NC" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="NU" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="NF" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="MP" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="PG" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="WS" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="SB" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="TK" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="TO" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="TV" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="--" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="AX" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="BL" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="CD" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="GB" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="GG" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="IM" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="JE" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="LY" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="MF" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="PS" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="RS" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="SH" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="SY" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="TL" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="VA" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="VG" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
    <CountryDefaultSetting CountryCode="VI" DefaultLanguage="id" DefaultCurrency="IDR" DefaultTimeZone="+07:00" />
</ArrayOfCountryDefaultSetting>