<?xml version="1.0"?>
<ArrayOfLanguageInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <!-- First language will be the default language -->
    <LanguageInfo CultureName="en" Code="ENG" DisplayName="English"/>
    <LanguageInfo CultureName="id" Code="IDN" DisplayName="Indonesia"/>
</ArrayOfLanguageInfo>