<?xml version="1.0" encoding="utf-8"?>
<DropdownListEntities xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" >

  <DropdownList Type="Drop">
    <Item Text="Drop 1" Value="1" />
    <Item Text="Drop 2" Value="2" />
    <Item Text="Drop 3" Value="3" />
  </DropdownList>

  <DropdownList Type="TimeZone">
    <Item Value="-12:00" Text="GMT -12:00" />
    <Item Value="-11:00" Text="GMT -11:00" />
    <Item Value="-10:00" Text="GMT -10:00" />
    <Item Value="-09:00" Text="GMT -09:00" />
    <Item Value="-08:00" Text="GMT -08:00" />
    <Item Value="-07:00" Text="GMT -07:00" />
    <Item Value="-06:00" Text="GMT -06:00" />
    <Item Value="-05:00" Text="GMT -05:00" />
    <Item Value="-04:00" Text="GMT -04:00" />
    <Item Value="-03:00" Text="GMT -03:00" />
    <Item Value="-02:00" Text="GMT -02:00" />
    <Item Value="-01:00" Text="GMT -01:00" />
    <Item Value= "00:00" Text="GMT  00:00" />
    <Item Value="+01:00" Text="GMT +01:00" />
    <Item Value="+02:00" Text="GMT +02:00" />
    <Item Value="+03:00" Text="GMT +03:00" />
    <Item Value="+03:30" Text="GMT +03:30" />
    <Item Value="+04:00" Text="GMT +04:00" />
    <Item Value="+04:30" Text="GMT +04:30" />
    <Item Value="+05:00" Text="GMT +05:00" />
    <Item Value="+05:30" Text="GMT +05:30" />
    <Item Value="+05:45" Text="GMT +05:45" />
    <Item Value="+06:00" Text="GMT +06:00" />
    <Item Value="+06:30" Text="GMT +06:30" />
    <Item Value="+07:00" Text="GMT +07:00" />
    <Item Value="+08:00" Text="GMT +08:00" />
    <Item Value="+09:00" Text="GMT +09:00" />
    <Item Value="+09:30" Text="GMT +09:30" />
    <Item Value="+10:00" Text="GMT +10:00" />
    <Item Value="+11:00" Text="GMT +11:00" />
    <Item Value="+12:00" Text="GMT +12:00" />
    <Item Value="+13:00" Text="GMT +13:00" />
  </DropdownList>

</DropdownListEntities>