<?xml version="1.0" encoding="utf-8" ?>
<EmailSettingEntity xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <SmtpServer>smtp-mail.outlook.com</SmtpServer>
    <SmtpServerPort>25</SmtpServerPort>

    <!-- If exchange server accept mail relay from internal IP, then any username and password also can -->
    <SmtpServerUsername>gitaprawira.s@gmail.com</SmtpServerUsername>
    <SmtpServerPassword>gita1234</SmtpServerPassword>

    <!--1-True, 0-False-->
    <SmtpEnableSSL>0</SmtpEnableSSL>

    <SenderNoReplyMailAddress>no-reply@dev.craftsoft.com</SenderNoReplyMailAddress>
    <SenderMailAddress>customerservice@dev.craftsoft.com</SenderMailAddress>
    <SenderContact>+62 8193 9199129</SenderContact>

    <EmailImageFolderUrl>/CDN/base/Design1/Themes/1/images/email/</EmailImageFolderUrl>
</EmailSettingEntity>