<?xml version="1.0"?>
<SystemSetting xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Cdn>/cdn</Cdn>
  <CdnVers>2</CdnVers>
  <DefaultCountryCode>ID</DefaultCountryCode>
  <LiveChatUrl></LiveChatUrl>
  <LiveChatShowStaticPage>false</LiveChatShowStaticPage>
  <DefaultTimeZone>GMT +07:00</DefaultTimeZone>
  <MailgunURI>https://api.mailgun.net/v2/address/validate?address=</MailgunURI>
  <MailgunPublicKey>pubkey-a1a94bc362ebc4dc6f13b5546925a211</MailgunPublicKey>
  <HtmlContentManagerModule>Static</HtmlContentManagerModule>
  <IsAPIEncryptionActivated>false</IsAPIEncryptionActivated>
  <Coba>Testing</Coba>
</SystemSetting>